.lsp-session-v1
projectile-bookmarks.eld
eshell
.emacs
projects
elpa
auto-save-list/
*~
ac-comphist.dat
transient/history.el
ido.last
smex-items
.cache/treemacs-persist
.dap-breakpoints
.mc-lists.el
.cache
test.org
tree-sitter/